<% provide(:title, "上传附件") %>
<h1>上传附件</h1>
<%= form_for @attachment, url:customer_attachments_path, method: 'post' do |f| %>
  <%= f.hidden_field :customer_id, value: @attachment.customer.id %>
  <%= f.label :description, "附件信息" %>
  <%= f.text_area :description, cols: 80, rows: 3 %>
  <%= f.file_field :file %>
  <%= f.hidden_field :file_cache %>
  <%= f.submit "提交" %>
<% end %>
