<% provide(:title, "客户列表") %>

<h1>客户列表</h1>
<%= form_for(:search, url: search_path_by(@all), method: 'get' , class: "form-inline")  do |f|  %>
      <%= f.search_field :name, placeholder:"请输入客户姓名（汉字或拼音首字母）", value: @name %>
      <%= f.submit "查询", class: "btn btn-primary" %>
<% end %>

<%= will_paginate previous_label: "前一页", next_label: "后一页" %>

<table class="table table-striped">
  <caption>
    <%= "共有#{@customers.count}个客户: " %>
    <%= link_to "新建客户", new_customer_path %>
  </caption>

  <thead>
    <tr>
      <th>姓名</th>
      <th>手机号码</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @customers %>
  </tbody>
</table>

<%= will_paginate previous_label: "前一页", next_label: "后一页" %>
