<% provide(:title, "客户列表") %>

<h1>客户列表</h1>

<%= form_for(:search, url: search_customers_path, method: 'get' )  do |f|  %>
  <table>
    <tr>
      <td><%= f.text_field :name, placeholder:"查询", class:"input-medium search-query" %></td>
      <td><%= f.submit "查询", class: "btn btn-large btn-primary" %></td>
    </tr>
  </table>
<% end %>

<%= will_paginate %>

<table class="table table-striped">
  <caption>客户列表</caption>
  <thead>
    <tr>
      <th>姓名</th>
      <th>手机号码</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @customers %>
  </tbody>
</table>

<%= will_paginate %>
