<% provide(:title, @customer.name) %>
<%= render 'shared/customer_menu' %>
<h1>客户资料</h1>
<table>
  <tr>
    <td class="span2"><b>姓名：</b></td>
    <td><%= @customer.name %></td>
  </tr>
  <tr>
    <td><b>手机：</b></td>
    <td><%= @customer.mobile_phone %></td>
  </tr>
  <tr>
    <td><b>附件：</b></td>
    <td>共有<%= link_to "#{@customer.attachments.count}个附件", customer_attachments_path(@customer) %></td>
  </tr>
  <tr>
    <td><b>通知事项：</b></td>
    <td>共有<%= link_to "#{@customer.notifies.count}个通知事项", customer_notifies_path(@customer) %></td>
  </tr>
  <tr>
    <td valign="top"><b>客户专员:</b></td>
    <td valign="top">
    <% @customer.users.each do |user| %>
        <%= link_to "#{user.name} : #{user.mobile_phone}", user_path(user)  %>
        <%= link_to "删除", assign_path(customer_id: @customer.id, user_id: user.id), method: 'delete' %><br />
    <% end %>
    </td>
  </tr>
</table>
