<% provide(:title, @customer.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @customer.name %>
      </h1>
      <h2>
        <%= @customer.mobile_phone %>
      </h2>
    </section>
  </aside>
<div>

<table class="table table-striped">
  <caption>客户专员</caption>
  <thead>
    <tr>
      <th>姓名</th>
      <th>手机号码</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @customer.users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user_path(user)  %></td>
      <td><%= link_to user.mobile_phone, user_path(user)  %></td>
      <td><%= link_to "删除", assign_path(customer_id: @customer.id, user_id: user.id), method: 'delete' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<table class="table table-striped">
  <caption>附件:
<%= link_to "上传附件", new_customer_attachment_path(@customer) %></caption>
  <thead>
    <tr>
      <th>附件信息</th>
      <th>附件</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @customer.attachments.each do |attachment|  %>
    <tr>
      <td><%= attachment.description %></td>
      <td><%= link_to attachment.file_identifier, attachment.file.url %></td>
      <td>
      <%= link_to "编辑", edit_attachment_path(attachment) %>
      <%= link_to "删除", customer_attachment_path(@customer, attachment), method: 'delete' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
