<%= form_for notify, as: :notify, url: url do |f| %>
<table>
  <tr>
    <td><%= f.label :content, "通知内容" %></td>
    <td><%= f.text_area :content, cols: 80, rows: 3 %></td>
  </tr>
  <tr>
    <td>通知类型</td>
    <td>
      <label class="radio-inline"  for="notify_type_once">单次
      <%= f.radio_button :type, "Once", checked: if notify.type == "OnceNotify" or notify.type == nil then true else false end %></label>
      <label class="radio-inline" for="notify_type_everyyear">每年
      <%= f.radio_button :type, "EveryYear" , checked: if notify.type == "EveryYearNotify" then true else false end %></label>
      <label class="radio-inline"   for="notify_type_everymonth">每月
      <%= f.radio_button :type, "EveryMonth", checked: if notify.type == "EveryMonthNotify" then true else false end %></label>
    </td>
  </tr>
  <tr>
    <td><%= f.label :date, "通知日期" %></td>
    <td><%= f.text_field :date %></td>
  </tr>
  <tr>
    <td><%= f.label :time, "时间" %></td>
    <td><%= f.text_field :time %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= f.submit btnName, class:"btn btn-primary btn-large" %></td>
  </tr>
</table>
<% end %>
